<br><br><br><br><br>


<!-- <div class="container">
    <div class="table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col"> <b>Cart Id</b> </th>
                    <th scope="col"> <b>Product Name </b> </th>
                    <th scope="col"> <b>Quantity</b> </th>
                    <th scope="col"> <b>Amount </b> </th>
                    <th scope="col"> <b>Remove </b> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of showproduct | paginate : {itemsPerPage : 10 , currentPage : pro}, let i =index">
                    <td>{{o.Cart_id}}</td>
                    <td><img [src]="o.image" alt=""></td> <td>{{o.productname}}</td>
                    <td>{{o.quantity}}</td>
                    <td>{{o.price}}</td>
                  
                    <td><button (click)="removeItem(o)" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td> <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button> </td>
                    <td> <button [routerLink]="['/product']" class="btn btn-primary">Shop More</button> </td>
                    <td> <strong> Total : &#8377;{{grandTotal}} <button (click)="paynow()" class="btn btn-primary">
                                Pay</button></strong></td>
                </tr>
                <pagination-controls (pageChange)="pro = $event"></pagination-controls>
            </tbody>
        </table>
    </div>
</div> -->

 <ng-container *ngIf="showproduct.length != 0 ">

    <div class="container table-responsive">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of showproduct  | paginate : {itemsPerPage : 10 , currentPage : pro}; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.productname}}</td>
                    <td> <img style="width: 120px;" src="{{item.image}}" alt=""> </td>

                    <th style="width: 12%;">{{item.price}}</th>
                    <td style="width: 12%;">
                        <div class="quantity-group">
                            <button (click)="handlequantity('min')">-</button>
                            <input type="number" value="{{pq}}" />
                            <button (click)="handlequantity('plus')">+</button>
                        </div>
                    </td>
                    <td style="width: 12%;">{{grandTotal}}</td>
                    <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                    </td>

                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td> <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button> </td>
                    <td> <button [routerLink]="['/product']" class="btn btn-primary">Shop More</button> </td>
                    <td> <strong> Total : &#8377;{{grandTotal}} <button (click)="paynow()" class="btn btn-primary">
                                Pay Now</button></strong></td>
                </tr>
                <pagination-controls (pageChange)="pro = $event"></pagination-controls>
            </tbody>
        </table>
    </div>

</ng-container>