<!-- <nav class="navbar navbar-expand-lg " style="background-color: #393A3B;">
    <div class="container">
        <a class="navbar-brand"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 n" (click)="closeNavbar()">

                <li class="nav-item d-lg-block d-md-none d-none">
                    <a class="nav-link"></a>
                </li>

                <li class="nav-item d-lg-block d-md-none d-none">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item d-lg-block d-md-none d-none">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item d-lg-block d-md-none d-none">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item d-lg-block d-md-none d-none">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item d-lg-block d-md-none d-none">
                    <a class="nav-link"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="closeNavbar()" [routerLink]="['/brands/gnc ']"><img height="45" src="/assets/brand/gnc-logo-png.png" alt=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/brands/healthfarm ']"><img height="45"
                            src="/assets/brand/8.png" alt=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/brands/mb ']"><img height="45"
                            src="/assets/brand/12.webp" alt=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/brands/in2 ']"><img height="45"
                            src="/assets/brand/5.JPG" alt=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/brands/healthinnova ']"><img height="45"
                            src="/assets/brand/Health_I_Logo.png" alt=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/brands/muscletech ']"><img height="45"
                            src="/assets/brand/10.png" alt=""></a>
                </li>

            </ul>
        </div>
    </div>
</nav>  -->

<div class="main">
    <br><br><br>
    <div class="container">
        <div class="row ">
            <div class="col-sm-2">
                <a href="" [routerLink]="['/brands/gnc']"> <img src="/assets/brand/gnc-logo-png.png" alt=""></a>
            </div><br>
            <div class="col-sm-2">
                <a href="" [routerLink]="['/brands/healthfarm']"> <img src="/assets/brand/8.png" alt=""></a>
            </div><br>
            <div class="col-sm-2">
                <a href="" [routerLink]="['/brands/muscleblaze']"> <img src="/assets/brand/12 - Copy.jpg" alt=""></a>
            </div><br>
            <div class="col-2">
                <a href="" [routerLink]="['/brands/in2']"> <img src="/assets/brand/5.JPG" alt=""></a>
            </div><br>
            <div class="col-2">
                <a href="" [routerLink]="['/brands/healthinnova']"><img src="/assets/brand/Health_I_Logo.png"
                        alt=""></a>
            </div><br>
            <div class="col-2">
                <a href="" [routerLink]="['/brands/muscletech']"> <img src="/assets/brand/10.png" alt=""></a>
            </div><br>
        </div>
    </div>
    <br>
</div>